# Secrets
.env
*.env

# Python venvs
venv/
.venv/

# Caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local / generated data & outputs (regenerowane przez skrypty)
data/raw/
data/processed/

# OS/editor noise
.DS_Store
.vscode/
